/* *Seletor universal */
*{
    margin: 0;
    padding: 0;
}

/*  *destaque: Seletor por tag */
body {
    background-color: #f0f0f0;
    font-family: arial, sans-serif;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

/* * Seletor por Id */
#cabecalho {
    background-color: #ecf1b9be;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom:15px;
    
}

/* *Seletor Por classe */
.descricao {
    background-color: #b2f0f0;
    font-size: 14px;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 135px;
    margin-left: 135px;
    margin-top: 10px;
    border: 5px solid #000000;
    border-radius: 5px;

}

.bloco {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

.destaque {
    background-color: gold;
}
.texto-destaque {
    font-weight: bold;
    color: darkred;
    background-color: gold;
}

#caixa-unica{
    padding: 10px;
    border: 2px solid purple;
    border-radius: 5px;
    background-color: #ede9fe;
}

div p {
    color: blue;
}

.pai-direto > p {
    color: green;
    padding: 5px;
}

h3 + p {
    color: red;
    font-style: italic;
}

h4 ~ p {
    color: orange;
    background-color: #e4dede;
    padding: 5px;
    font-weight : bold; 
}

input[type="text"] {
    border: 3px solid orange;
    padding: 8px;
    margin-right: 10px;
}

a[href*="microsoft"] {
    color: darkgreen;
    font-weight: bold;
}

h5, h6 {
    color: purple;
    font-size: 14px;
    margin-top: 5px;
}

.botao:hover {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

p.aviso {
    background-color: #ffcc00;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

#painel {
    background-color: #ac8484;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu ul li a {
    color: violet;
    text-decoration: none;
}