*{
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    text-align: center;
}


#topo{
    background-color: #CCCCCC;
    color: white;
    padding: 120px;
   
}

#meio{
    background-color: #ff0101;
    padding: 27px;
   
}

.conteudo{
    background-color: green;
    border: 10px solid red;
    padding-bottom: 10px;

}

.primeiro{
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
}

#rodape{
    background-color: gray;
    padding-bottom: 23px;
    color: white;
    padding: 120px;
}

